/* //desktop */
#herosection{
    width:50vw;
    height:60vh;
    margin-left: 10vw;;
    padding-top: 10vh;
    
}
#herosection>h3{

    font-size: 60px;;
}
#herosection>h2{
    color:rgba(150, 187, 124, 1);;
    font-size: 16px;
}
#herosection>p{
    color:gray;
}
#herosection>button{
    padding:15px 30px;
    border-radius: 5px;
}
#herosection>button:nth-of-type(1){
    background-color: rgba(150, 187, 124, 1);
    color:white;
    border:none;
    margin-right: 20px;
    font-weight: 800;
}
#herosection>button:last-child{
    border:2px solid rgba(150, 187, 124, 1);
    color: rgba(150, 187, 124, 1);
}

#hero{
    display: block;
    position: absolute;
    width:100vw;
    height:100vh;
    z-index:-1 ;
}
header{
    height:90px;
    background-color: white;
    display: flex;

    gap:5vw;
    
}
header>h1{
    margin-left: 10vw;
}
.hamburger{
    display: none;
}
#list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap:5vw;
}
header> ul>li:nth-last-child(2){
    margin-left: 100px;
    color:rgba(150, 187, 124, 1);
}
header>ul>li:nth-last-child(1){
    background-color: rgba(150, 187, 124, 1);
    padding:10px 20px;
    border-radius: 10px;
    color:white;
    font-weight: 700;

}
body article:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
body article:nth-child(2)>section{
    background-color: white;
    width:200px;
    padding: 30px 50px;
    border-radius:5px;
    box-shadow: 0px 0px 10px grey;
}
article:nth-child(2) h2::after{
    content: " ";
    width:50px;
    display: block;
    border:3px solid red;

}



@media screen and (max-width:1024px) and (min-width:401px) {
    header>h1{
        margin-left: 3vw;
    }
    #list{
        gap:2vw;
    }
    header> ul>li:nth-last-child(2){
        margin-left: 20px;
    }
    body article:nth-child(2)>section{
        background-color: white;
        width:180px;
        padding: 30px 50px;
        border-radius:5px;
        box-shadow: 0px 0px 10px grey;
    }
    #herosection{
        width:50vw;
        height:60vh;
        margin-left: 10vw;;
        padding-top: 10vh;
       
    }
    #herosection>h3{
    
        font-size: 40px;;
    }
    #herosection>h2{
        color:rgba(150, 187, 124, 1);;
        font-size: 16px;
    }
    #herosection>p{
        color:gray;
    }
    #herosection>button{
        padding:15px 30px;
        border-radius: 5px;
    }
   
    


}


@media screen and (max-width:400px) {

    #hero{
        display:none;
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header>ul{
        display: none;
    }
    
    #list{
        position: absolute;
        top:45px;
        left:65%;
        list-style: none;
        background-color: rgb(178, 178, 178);
        padding: 20px 20px 20px 20px;
        line-height: 2;
        font-size:20px;
        letter-spacing: 1px;
        border-radius: 5px;
        
    
    }
    .hamburger{
        border: 1px solid black;
        width:50px;
        height:50px;
        border-radius: 5px;;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .line1{
        width:40px;
        border: 1px solid black;
    }
    .line2{
        width:35px;
        border: 1px solid black;
    }
    .line3{
        width:30px;
        border: 1px solid black;
    }

    body article:first-child{
       margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap:20px;
    
        
    }
    body article:first-child>section{
        width:100vw;
        padding: 30px 50px;
        border:1px solid black;
        box-shadow: 0px 0px 10px grey;
    }
    h2::after{
        content: " ";
        width:50px;
        margin-left: 10px;
        display: block;
        border:3px solid red;
    
    }
    h2{
        margin-left: 10px;
    }
    .card__image{
        margin-left: 20px;
        margin-top:10px;
    }
    .card__para{
        margin-left: 10px;
        color:grey;
        letter-spacing: 1px;
    }
    
}



